.share {
border-radius: 10px;
background-color: white;
border: 1px solid lightgray;
}

.shareWrapper {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 15px;
padding-left: 15px;
}

.shareTop {
display: flex;
align-items: center;
padding: 5px;
}

.shareProfileImg {
height: 50px;
border-radius: 50%;
object-fit: cover;
margin-right: 10px;
}

.shareInput {
border: none;
width: 80%;
padding-left: 10px;
}

.shareInput:focus {
outline: none;
}

.shareBottom {
display: flex;
align-items: center;
background: #FBFAF9;
padding-top: 10px;
padding-bottom: 10px;
justify-content: space-between;
border-top: lightgray 1px solid;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 1px;
    cursor: pointer;
}

.shareIcon{
    font-size: 23px;
    margin-right: 3px;
    color: #c0c2c2;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #0866ff;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}