@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.profile-container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    /* box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08); */
    border: 1px solid #f0f0f0;

}

.number-profile-component {
    color: #393e41;
}

.profile-banner {
    width: 100%;
    height: 225px;
    object-fit: cover;
    /* border-radius: 20px 20px 0 0; */
}

.profile-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-top: -130px;;
}

.profile-img-status {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.profile-ctn i {
    color: green;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 2.5px;
}

.profile-pic  {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.profile-ctn span {
    color: white;
    background-color: #595899;
    font-size: 12px;
    padding: 5px 10px; 
    border-radius: 5px;
    margin-top: -20px;
    z-index: 1;
}

.profile-data {
    /* padding: 10px 30px; */
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-data > div {
    flex-basis: 33%;
    align-items: flex-end;
    /* esto alinea verticalmente abajo los divs */
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center!important; /* esto es para centrar el texto */
}

.user-data span {
    font-size: 14px;
    color: #939597;
}

.user-data .name {
    font-weight: 700;
    font-size: 28.8px;
    color: #393e41;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "helvetica neue", sans-serif;
}

.following-data, .user-social  {
    display: flex;
    gap: 10px;
}

.following-data span{
    font-size: 12.5px;
    color: #939597;
}

.user-social i {
    font-size: 23px;
}

.user-social i:hover {
    cursor: pointer;
}


.user-social  {
    justify-content: end;
}

@media (max-width: 768px) {
    .profile-data {
        flex-direction: column; 
        align-items: center; 
    }
    .user-social  {
    justify-content: center;
    }
    .user-data {
        padding: 10px 0 20px 0;
    }
}