/* Navbar.css */
@import url('../../assets/icons/css/bb-icons.css');

.menu-subprofile-component {
    width: 100%;
    display: flex;
    padding: 15px 7%;
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

/* Estilo general de los elementos en la barra */
.in-subprofile-list {
    font-size: 14px;
    font-style: normal;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:none /* Evita subrayado en los links */
}

/* Estilo cuando está seleccionado */
.in-subprofile-list-strong {
    font-weight: bold; /* Texto en negrita cuando está seleccionado */
    color: black;
    position: relative;
}

.in-subprofile-list-strong::before {
    content: '';
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black; 
}

/* Espaciado entre elementos */
.menu-subprofile-component li:not(:last-child) {
    margin-right: 50px;
}
