body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.photo-page {
    display: flex;
    flex-direction: column;
    /* background-color: #fbfaf8; */
}

.content-photo {
    display: flex;
    width: 100%;
}

.left-column-profile-photo {
    width: 13%;
}

.middle-column-profile-photo {
    width: 70%;
    padding-bottom: 100px;
}

.right-column-profile-photo {
    width: 28%;
    padding-top: 50px;
}

.spacer-column-profile-photo {
    width: 2%;
    background-color: transparent;
}
.ctr-photos{
    width: 900px;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s all;
    border : 1px solid #bababa;
    overflow: hidden;
}
.ctr-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;


}

.btn-photos{
    background-color: #dddddd;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s all;
}


.nav-photos{
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    padding: 5px 10px;
    gap: 10px;
    
}

.btn-active {
    background-color: white;
    color: darkslategray;
    border: 1px solid darkslategray;
}

.collegue-photos{
    padding: 40px 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 140px);
    gap: 30px;
}
.collegue-photos img{
    width: 150px;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all;
    border : 1px solid #9c9c9c;

}
.ctr-head h3{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}