
.columns {
display: flex;
justify-content: left;
width: 100%; /* Ajusta el ancho según sea necesario */
max-width: 1500px; /* Ajusta el máximo ancho según sea necesario */
margin-top: 45px; /* Espacio entre el Navbar y las columnas */
/* padding-top: 30px; */
padding-bottom: 35px;
padding-left: 100px;
}

.column {
margin: 0 20px;
}

.column:first-child,
.column:last-child {
flex: 0 0 27%; /* 20% del ancho */
}

.column:nth-child(2) {
flex: 0 0 46%; /* 60% del ancho */
}

.seccion {
margin-bottom: 30px;
}

.activity-feed-title {
font-size: 28px;
line-height: 24px;
color: #393E41;
}