body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.middle-column-profile {
    width: 70%;
    padding-bottom: 100px;
}

.right-column-profile {
    width: 30%;
    padding-top: 50px;
    padding-right: 50px ;
}

.spacer-column-profile {
    width: 30%;
    background-color: transparent;
}