body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-profile {
    margin-left: 120px;
    margin-right: 120px;
}
.middle-column-profile {
    width: 100%;
    padding-bottom: 100px;
}

.spacer-column-profile {
    width: 30%;
    background-color: transparent;
}
