/* Navbar.css */
@import url('../../assets/icons/css/bb-icons.css');

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 4px 13%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: rgba(139, 141, 157, 0.05) 0px 1px 0px 0px, rgba(65, 71, 108, 0.15) 0px 5px 10px 0px;
}

.imagotipo {
    width: 150px;
    cursor: pointer;
    /* margin-left: 100px; */
}

.icon-list {
    flex: 1;
    /* list-style: none; */
    text-align: center;
    /* margin-left: 10px; */
}

.icon-list li {
    display: inline-block;
    margin: 10px 25px;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.profile-list {
    /* flex: 1; */
    /* list-style: none; */
    text-align: center;
    align-items: center;
    /* margin-left: -200px; */
}

.profile-list li {
    display: inline-block;
    /* align-items: center; */
    margin: 0 10px;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.divider {
    width: 1px;
    height: 25px;
    background-color: #d7d8d9;
}

.username {
    font-size: 18px;
    margin-right: 10px;
}

.nav-profile-pic {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-nav li {
    /* flex: 1; */
    display: inline-block;
}

