/* Navbar.css */
@import url('../../assets/icons/css/bb-icons.css');

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
}

.imagotipo {
    width: 150px;
    cursor: pointer;
    /* margin-left: 100px; */
}

.icon-list {
    flex: 1;
    /* list-style: none; */
    text-align: center;
    /* margin-left: 10px; */
}

.icon-list li {
    display: inline-block;
    margin: 10px 25px;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.profile-list {
    /* flex: 1; */
    /* list-style: none; */
    text-align: center;
    align-items: center;
    /* margin-left: -200px; */
}

.profile-list li {
    display: inline-block;
    /* align-items: center; */
    margin: 0 10px;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.divider {
    width: 1px;
    height: 25px;
    background-color: #d7d8d9;
}


.username {
    font-size: 18px;
    margin-right: 15px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.profile-div, .right-div {
    display: flex;
    align-items: center;
}

.profile-list-div {
    margin-right: 20px;
}



/* Responsive */
@media (max-width: 950px) {
    .navbar {
        justify-content: space-between;
    }
    .profile-list-div {
        margin-right: 0;
    }
    .profile-div, .search-div { 
        display: none;
    }
    .profile-list {
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        justify-content: flex-end;
    }
    .profile-list li {
        /* display: inline-block; */
        /* align-items: center; */
        margin: 0 10px;
        font-size: 25px;
        color: black;
        cursor: pointer;
    } 
    .imagotipo {
        width: calc(15vw + 50px);
    }
}

.counter {
    font-size: 8px;
    background-color: #EF4444;
    color: #fff;
    min-height: 15px;
    min-width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: 0px;
}

.profile-list a {
    position: relative;  
    font-size: 25px;
    padding: 0px 5px;
} 

