/* Leftbar */
@import url('../../assets/icons/css/bb-icons.css');


.bloque-blog{
    /* width: 15%; */
    /* height: 70%; */
    padding: 20px;
    background: white;
    /* position: fixed; */
    top: 20%;
    left: 15%;
    border-radius: 10px;
    border: 1px solid lightgray;
}
#boton-seeAll{
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-family: apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#boton-seeAll:hover {
    background-color: #0a12b4;
    border-color: #0a2b97;
    color: white;
}