.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    }

.postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    }
    
.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.like-post-unClicked{
    color: #dd2e44;

}
.heart-animation-comment {
    position: absolute; /* Posiciona dinámicamente según las coordenadas */
    font-size: 20px; /* Tamaño del corazón */
    color: #dd2e44;
    pointer-events: none; /* Evita interacción con el corazón animado */
    animation: flyUpHeart 1s ease-in-out forwards; /* Animación */
    transform: translate(-50%, -50%); /* Centrado sobre el punto de clic */
    z-index: 10;
  }
  
  @keyframes flyUpHeart {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -150%) scale(1.5); /* Sube y crece ligeramente */
    }
  }
  
.postComment{
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.text-comment{
    background-color: #fbfaf8;
    padding-left: 20px; 
    padding-bottom: 15px; 
    width: 50%; 
    border-radius: 10%;
}

.profile-comment{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    padding-bottom: 10px;
    text-align: left;
}

.profile-picture-comment{
    width: 15%;
}

.relleno-comment{
    width: 35%;
}