.post {
width: 100%;
border-radius: 10px;
background-color: white;
border: 1px solid lightgray;
margin: 80px 0;
padding-top: 15px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

.postWrapper {
padding: 10px;
}

.postTop {
display: flex;
align-items: center;
justify-content: space-between;
}

.postTopLeft {
display: flex;
align-items: center;
}

.postProfileImg {
width: 32px;
height: 32px;
border-radius: 50%;
object-fit: cover;
}

.postUsername {
font-size: 15px;
font-weight: 500;
margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.commentInputWrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .input-comment{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .profile-picture-comment{
    width: 10%;
}

.comment-container{
    width: 85%;
    background-color: #fbfaf8;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
}

  .commentInputField {
    width: 40%;
    flex: 1;
    padding: 10px;
    border: 1px solid white;
    background-color: #fbfaf8;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
  }
  
  .commentInputButton {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .commentInputButton:hover {
    background-color: #165db7;
  }

  .icon-comment{
    color : #bcbebd;
    height: 100%;
  }
