.post {
  position: relative; 
  width: 100%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 20px 0;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heart-animation {
  position: absolute; /* Para centrarlo sobre la imagen */
  top: 50%; /* Mitad vertical */
  left: 50%; /* Mitad horizontal */
  transform: translate(-50%, -50%); /* Centrar completamente */
  font-size: 100px; /* Tamaño grande del corazón */
  color: #dd2e44; /* Color rojo */
  pointer-events: none; /* Evitar interacción */
  animation: fadeOutHeart 1s ease-in-out forwards; /* Animación suave */
  z-index: 10; /* Asegurarse de que se muestre encima */
}

/* Animación de desvanecimiento y escala */
@keyframes fadeOutHeart {
  0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
  }
  100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(2);
  }
}


.like-post-unClicked{
  color: #dd2e44;

}
.postWrapper {
padding: 10px;
}

.postImageWrapper {
  position: relative; /* Necesario para posicionar el corazón */
  display: inline-block; /* Asegura que el contenedor envuelva el contenido */
  width: 100%; /* Ajusta al tamaño de la imagen */
  max-height: 500px; /* Mantén la altura máxima de la imagen */
}

.post-divider-line {
  width: 100%;
  height: 1px;
  background-color: #d7d8d9;
}

.love-and-comment {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.post-love {
  width: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.in-love-no-color {
  font-weight: 400;
  font-size: 15px;
  color: #393e41;
}

.post-comment-inner {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.in-comment-inner {
  font-weight: 400;
  font-size: 15px;
}

.post-comment {
  margin-top: 30px;
}

.postText {
  color: #393e41;
}

.postTop {
display: flex;
align-items: center;
justify-content: space-between;
}

.postTopLeft {
display: flex;
align-items: center;
}

.postProfileImg {
width: 32px;
height: 32px;
border-radius: 50%;
object-fit: cover;
}

.publisher-post {
  font-size: 14px;
}

.postUsername-feed {
font-size: 14px;
color: #393e41;
font-weight: 400;
margin: 0 10px;
display: flex;
flex-direction: column;
}

.postDate{
    color: #d8d8d8;
    font-size: 13px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.commentInputWrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .input-comment{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .profile-picture-comment{
    width: 10%;
}

.comment-container{
    width: 85%;
    background-color: #fbfaf8;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
}

  .commentInputField {
    width: 40%;
    flex: 1;
    padding: 10px;
    border: 1px solid white;
    background-color: #fbfaf8;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
  }
  
  .commentInputButton {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .commentInputButton:hover {
    background-color: #165db7;
  }

  .icon-comment{
    color : #bcbebd;
    height: 100%;
  }
