/* Leftbar */
@import url('../../assets/icons/css/bb-icons.css');


.bloque-following{
    width: 100%;
    padding: 20px;
    padding-bottom: 20px;
    background: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    font-family: apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
}

.amigos{
    width:100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
#titulo-following{
    margin-bottom: 10px;
    font-size: 20px;
}
#numero-folowing{
    color:#c4c4c4;
    font-size: 18px;
}

