* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Aplica la fuente a toda la página */
}
.container {
    width: 100vw;
    min-height: 100vh;
    background: #F9F9F9;   
}

.sub-container{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.content {
    width: 80%;
    /*background: #F9F9F9;*/
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    background-color: aqua; 
     
}

.right-column {
    width: 20%;
    background-color: mediumorchid;
}