* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-profile {
    margin-left: 120px;
    margin-right: 120px;
}

.menu-subprofile {
    width: 100%;
}

.main-container {
    max-width: 100%;
    min-height: 100vh;
    background: #F9F9F9;
    margin-top: 60px; 
    margin-left: 70px;
    display: flex;
    /* gap: 20px; */
}

.right-column {
    width: 5%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    align-items: center
}

.left-column {
    width: 80%;
    padding-bottom: 100px;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white; 
    z-index: 1000;
}
